#container_P1 {
  height: 68px;
  width: 150px;
  position: relative;
  align: center;
}
#image1 {
  position: absolute;
  left: 0;
  top: 0;
}
#text1 {
  position: absolute;
  color: white;
  font-size: 16px;
  left: 32px;
  top: 21px;
}
#jarra1 {
  width: 115px;
  height: 115px;
  background-image: url('/jar1.png');
  display: block;
  text-align: center;
  font-family: Baskerville;
  font-size: 40px;
  color: blue;
  line-height: 120px
}
#jarra2 {
  width: 115px;
  height: 115px;
  background-image: url('/jar1.png');
  display: block;
  text-align: center;
  font-family: Baskerville;
  font-size: 40px;
  color: blue;
  line-height: 120px
}
